.thunderbird/zyrylmkp.default-release/ImapMail
.thunderbird/zyrylmkp.default-release/shader-cache
.thunderbird/zyrylmkp.default-release/saved-telemetry-pings
.thunderbird/zyrylmkp.default-release/datareporting
.thunderbird/zyrylmkp.default-release/Mail
