[Desktop Entry]
Type=Application
Exec=/bin/bash -c "pactl set-default-sink alsa_output.usb-Logitech_Logitech_G430_Gaming_Headset-00.analog-stereo"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Default Audio to Logitech G430
Name=Default Audio to Logitech G430
Comment[en_US]=
Comment=
